<script src="/asset/js/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("button").click(function(){
      		if (typeof (FormData) != "undefined") {
        		var formData = new FormData();
			var reader = new FileReader();
        		formData.append('image',$('#fileselector1')[0].files[0]);
        		$.ajax({
          			url: "http://localhost:8000" + "/upload/image",
          			type: "POST",
          			data: formData,
          			contentType: false,
          			cache: false,
          			processData:false,
          			success: function(data){
            			console.log("Uploaded : " + str + "Data : " + data);
            			$("input#pic" + str).val(data);
          			}
        		});
        	}
		});
	});
</script>
<input id="fileselector1" name="photo" type="file">
<button type="button">Submit</button>
