    /*
    Flaticon icon font: Flaticon
    Creation date: 02/07/2016 18:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-business:before { content: "\f100"; }
.flaticon-call-center-worker-with-headset:before { content: "\f101"; }
.flaticon-computer:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-left-arrow:before { content: "\f104"; }
.flaticon-right-arrow:before { content: "\f105"; }
.flaticon-shoe:before { content: "\f106"; }
.flaticon-smartphone:before { content: "\f107"; }
.flaticon-sports:before { content: "\f108"; }
.flaticon-sports-car:before { content: "\f109"; }
.flaticon-washing-machine:before { content: "\f10a"; }
    
    $font-Flaticon-business: "\f100";
    $font-Flaticon-call-center-worker-with-headset: "\f101";
    $font-Flaticon-computer: "\f102";
    $font-Flaticon-home: "\f103";
    $font-Flaticon-left-arrow: "\f104";
    $font-Flaticon-right-arrow: "\f105";
    $font-Flaticon-shoe: "\f106";
    $font-Flaticon-smartphone: "\f107";
    $font-Flaticon-sports: "\f108";
    $font-Flaticon-sports-car: "\f109";
    $font-Flaticon-washing-machine: "\f10a";