	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/07/2016 18:58
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  vertical-align: middle;
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 10px;
margin-right: 10px;
}

.flaticon-business:before { content: "\f100"; }
.flaticon-call-center-worker-with-headset:before { content: "\f101"; }
.flaticon-computer:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-left-arrow:before { content: "\f104"; }
.flaticon-right-arrow:before { content: "\f105";font-weight: bold; }
.flaticon-shoe:before { content: "\f106"; }
.flaticon-smartphone:before { content: "\f107"; }
.flaticon-sports:before { content: "\f108"; }
.flaticon-sports-car:before { content: "\f109"; }
.flaticon-washing-machine:before { content: "\f10a"; }
