


nav *{
  color: #fff;
  font-size: small;
}
body {
  padding-top: 50px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 100;
  font-size: large;
  background: #ffffff;

}
span,label,div,input,button,textarea,select,option{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 100;
}
a ,button{
   outline: 0;
}
a:hover, a:active, a:focus,button:hover, button:active, button:focus  {
  /* styling for any way a link is about to be used */
  outline: 0;

}
input::-moz-focus-inner { 
  border: 0; 
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  right: 0px;
}

.radio{
  padding-right: 25px;
}
input[type=text],textarea,select,.form-control{
  border-radius: 0px;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}







.form-group{
  position: relative;
  margin-bottom: 3px;
}
.form-group > span.float-text{
  position:absolute;
  bottom:-10px;
  right:10px;
  display:block;
  width:38px;
  background:#fff;
  overflow:hidden;
  height:22px;
  color:#1EC81E;
  font-size:small;
  padding:1px 3px;
  border-radius:3px;
  box-shadow:0px 0px 5px #fff;
  text-align:center;
  font-family:Lato;
}
span.error-msg{
  margin: 0px 0px 5px 10px;
  font-size: small;
  color: #ff0000;
}
.dialogLocation{
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: none;
  overflow-x: hidden;
  z-index:100;
}
.close-animatedModal {
  position: relative;
  width:100%;
  text-align:center;
  margin-top:20px;
  z-index: 9999;
}

.closebt {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor:pointer;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  width:50px;
  height:50px;
  text-align:center;
  margin:0 auto;
}

.closebt:hover {
  transform:rotate(90deg);
}
.modal-content{
  border: none;
  box-shadow: none;
  padding:auto;
  width:100%;
  height:100%;
}
.modal-content{
  padding-top:35px;
  background:#fff;
}
.modal-content .row > div:last-child{
  padding:1%;
  margin-left:-3%;
  text-align:center;
  vertical-align:middle;
}
.modal-content .row > div:last-child > span{
  padding:10px 20px 15px 10px;
  background:black;
  color:#fff;
  vertical-align:middle;
  display:none;
}
.modal-content .row > div:last-child > span > img{
  margin-right:5px;
  display:inline-block;
  vertical-align:middle;
}
@keyframes spinner{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.spinner{
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-left: 10px;
  display: none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color:  #d50000;
  border-width: 5px 5px 0;
}
.tooltip.right .tooltip-arrow {
  bottom: 50%;
  left:0;
  margin-right: -5px;
  border-right-color:  #d50000;
}
.tooltip-inner {
  color: #fff;
  background:  #d50000;
  border: solid 1px  #d50000;
  padding: 5px 15px;
  border-radius:0px;
}
.tooltip.left .tooltip-arrow {
  bottom: 50%;
  right:0;
  margin-left: -5px;
  border-left-color:  #d50000;
}
button + .tooltip.left .tooltip-arrow {
  bottom: 50%;
  right:0;
  margin-left: -5px;
  border-left-color:  #000;
}
button + .tooltip > .tooltip-inner {
  font-size: larger;
  width: 250px;
  cursor: pointer;
  border: none;
  width: 200px;
  padding: auto 0px;
  background: #000;
}
button + .tooltip > .tooltip-inner a {
  color: #fff;
  display: block;
  width: 100%;
}
button + .tooltip > .tooltip-inner a:hover {
  text-shadow: 0px 0px 2px #000;
}
button + .tooltip > .tooltip-inner:hover{
  box-shadow: 0px 0px 7px black;
}
input + .tooltip > .tooltip-inner ,textarea + .tooltip > .tooltip-inner {
  font-size: larger;
  border: none;
  width: 250px;
  cursor: pointer;
}
input.success + .tooltip > .tooltip-inner,textarea.success + .tooltip > .tooltip-inner {
  background: #1EC81E;
}
input.danger + .tooltip > .tooltip-inner,textarea.danger + .tooltip > .tooltip-inner {
  background: #C9302C;
}
input.warning + .tooltip > .tooltip-inner,textarea.warning + .tooltip > .tooltip-inner {
  background: #EC971F;
}

input + .tooltip > .tooltip-inner:hover,textarea + .tooltip > .tooltip-inner:hover{
  box-shadow: 0px 0px 7px black;
}
input + .tooltip.right .tooltip-arrow,textarea + .tooltip.right .tooltip-arrow {
  bottom: 50%;
  left:0;
  margin-right: -5px;
}
input.success + .tooltip.top .tooltip-arrow,textarea.success + .tooltip.top .tooltip-arrow{
  border-top-color:  #1EC81E;
}
input.success + .tooltip.right .tooltip-arrow,textarea.success + .tooltip.right .tooltip-arrow{
  border-right-color:#1EC81E;
}
input.danger + .tooltip.right .tooltip-arrow,textarea.danger + .tooltip.right .tooltip-arrow{
  border-right-color:#C9302C;
}
input.danger + .tooltip.top .tooltip-arrow,textarea.danger + .tooltip.top .tooltip-arrow{
  border-top-color:  #C9302C;
  width: 400px;
}
input.warning + .tooltip.right .tooltip-arrow,textarea.warning + .tooltip.right .tooltip-arrow{
  border-right-color:#EC971F;
}
body.africa > .tooltip > .tooltip-inner {
  background: #000;
  border-color: #000;
}
body.africa > .tooltip.top .tooltip-arrow {
  border-top-color:  #000000;
}
body.asia > .tooltip > .tooltip-inner {
  background: #FFFF00;
  border-color: #FFFF00;
  color: #000;
}
body.asia > .tooltip.top .tooltip-arrow {
  border-top-color:  #FFFF00;
}

body.europe > .tooltip > .tooltip-inner {
  background: #00BF00;
  border-color: #00BF00;
}
body.europe > .tooltip.top .tooltip-arrow {
  border-top-color:  #00BF00;
}

body.australia > .tooltip > .tooltip-inner {
  background: #005fbf;
  border-color: #005fbf;
}
body.australia > .tooltip.top .tooltip-arrow {
  border-top-color:  #005fbf;
}

body.southamerica > .tooltip > .tooltip-inner {
  background: #ff5656;
  border-color: #ff5656;
}
body.southamerica > .tooltip.top .tooltip-arrow {
  border-top-color:  #ff5656;
}
body.northamerica > .tooltip > .tooltip-inner {
  background: #FF0000;
  border-color: #FF0000;
}
body.northamerica > .tooltip.top .tooltip-arrow {
  border-top-color:  #FF0000;
}


#list div{
  text-align: center;
  color: #000;
  font-size: larger;
  margin: 0px;
  line-height: 100%;
  padding: 2px;
}
#list div a{
  color: #000;
  text-decoration: none;
  font-size: large;
  /*text-shadow: 0px 0px 1px blue;*/
  padding:2px 10px;
  transition: 0.3s;
  border-radius: 3px;
}
#list div a:hover{
  color: #fff;
  background: blue;
}
.glyphicon{
  font-weight:900;
  font-size: large;
}

.alert .close{
  vertical-align: middle;
  font-size: 20px;
  font-family: Arial;
}

.btn-label {position: absolute;right:0px;top:0px;display: inline-block;padding: 4px 10px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-label i {font-size: large;font-weight: 900;font-family: 'Lato', sans-serif;}
.btn-labeled {}


.btn-label {position: absolute;right:0px;top:0px;display: inline-block;padding: 4px 10px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-label i {font-size: large;font-weight: 900;font-family: 'Lato', sans-serif;}
.locationlistitem {position: relative;background: #fff;box-shadow: 0px 0px 1px #000;padding:4px 4px 4px 30px;font-size: large;
}
.locationlistitem.city {padding:4px 90px 4px 4px;
}
.locationlistitem.state {padding:4px 100px 4px 4px;
}
.locationlistitem.country {padding:4px 100px 4px 4px;
}
.locationlistitem.continent {padding:4px 90px 4px 4px;
}
.locationlistitem:hover{
  box-shadow: 0px 0px 5px #000;
}
.locationlistitem label:first-child {position: absolute;right:0px;top:0px;display: inline-block;padding: 4px 9px;background: rgba(0,0,0,0.15);border-radius: 0px 0 0 0px;vertical-align: middle;text-align: center;}
.locationlistitem div{position: absolute;left: 0px;height: 100%;top: 0px;}
.locationlistitem div button{
  border-radius: 0px;
}
.locationlistitem > label.label-primary {border-radius: 0px;
  position: absolute;
  top: 0px;
  right: 29px;
  display: inline-block;
  font-weight: 400;
  padding: 10px 15px;
}
.locationlistitem div button:last-child{
  margin-right: -1px;
}
#locationtoolbox{
  background: #fff;
}
.well{
  background-color: #fff;
}
#locationtoolbox .btn {margin: 0px 0px 3px 3px;position:relative;padding-right:35px;text-align: right;display: block;}
#locationtoolbox .btn .badge{
  position: absolute;
  vertical-align: middle;
  left: 3px;
  top: 7px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 110%;
  font-size: smaller;
}
.row#location{
  margin:0px;
}
.row#location .row-height > div:first-child {
  margin-right:0;
  margin-left:0;
  padding-right: 0px;
  padding-left:15px;
}
.row#location .row-height > div:last-child {
  margin-right:0;
  margin-left:0;
  padding-right: 0px;
  padding-left:0px;
}
.btn-danger{
  background: #c9302c;
}
.inside-full-height {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */
.inside{
  height: 100%;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
@media (max-width: 768px) {
  #locationtoolbox .btn {margin: 0px 0px 3px 0px;position:relative;padding-left:35px;text-align: right;display: block;}
  .row#location .row-height > div:first-child {
    padding-right: 15px;
    padding-left:15px;
  }
  .row#location .row-height > div:last-child {
    padding-right: 15px;
    padding-left:15px;
  }
}
@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}


.dialogModal{
  overflow: hidden;
}
  /* Custom, iPhone Retina */
  @media screen and (max-width : 320px){
    .dialogLocation{
      overflow: scroll;
      overflow-x: hidden;
    }
    #mmap{
      /*height:200px;
      overflow: hidden;*/
      margin-top:5%;

    }
  }
 
  /* Extra Small Devices, Phones */
  @media screen and (max-width : 480px){
    .dialogLocation{
      overflow: scroll;
      overflow-x: hidden;
    }
    #mmap{
      /*height:300px;
      overflow: hidden;*/
      margin-top: 5%;
    }
  }
 
  /* Small Devices, Tablets */
  @media screen and (max-width : 768px){
    .dialogLocation{
      overflow: scroll;
      overflow-x: hidden;
    }
    #mmap{
      /*height:600px;
      overflow: hidden;*/
      margin-top: 5%;
    }
  }


  .btn-dialog{
    background: #fff;
    border-radius:0px;
    display:block;
    width:100%;
    margin:5px 0px 5px 0px;
    font-size:large;
    position:relative;
    text-align:right;
    border:1px #cacaca solid;
    transition: 0.3s;
    overflow: hidden;
  }
  .btn-dialog:first-child{
    margin-top: 10px;
  }
  .btn-dialog:hover{
    border: 1px #707070 solid;
  }
  .btn-dialog > img{
    display:block;
    position:absolute;
    top:-1px;
    left:-1px;
    background:rgba(0,0,0,0.0);
    padding:8px 8px;
    box-shadow:none;
    transform:rotate(90deg);
  }

  .gray-back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: #000;
    opacity: 0.7;
    display: none;
  }
  #category{
    position: fixed;
    z-index: 2000;
    height: 63%;
    background: #fff;
    margin: auto;
    box-shadow: 0px 0px 30px #000;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 0px;
    vertical-align: middle;
    display: none;
  }
  #category-header{
    width: 100%;
    position: relative;
    height: 45px;
    padding: 6px 15px;
    margin: 0;
    margin-bottom: 5px;
    box-shadow: 0px 3px 3px #297dce;
  }
  #category-content > img{
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    display: none;
  }
  #category-content{
    margin: 0;
    position: relative;
    width: 100%;
    height: 87%;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #category-content > ul{
    list-style: none;
    padding: 0px;
  }
  #category-content > ul > li{
    border-bottom: 1px #cacaca solid;
    display: block;
    padding: 4px 0px;
    transition: 0.3s;
    cursor: pointer;
  }
  #category-content > ul > li > i:first-child{
    margin-right: 10px;
    text-align: center;
  }
  #category-content > ul > li:hover{
    /*vertical-align: middle;*/
    color: #297dce;
  }
  #category-content > ul > li > i:last-child{
    float: left;
    transform: rotate(180deg);
  }
  #category-content > ul > li > span{
    vertical-align: middle;
    padding-right: 10px;
  }
  #category-header > h4{
    font-weight: bold;
    font-size: larger;
    margin:auto auto;
    vertical-align: middle;
  }
  #category-header > h4 > span{
    vertical-align: middle;
    margin-right: 0px;
  }
  #category-header > h4 > img{
    vertical-align: middle;
    margin-right: -10px;
    margin-left: 3px;
    transition: 0.3s;
    transform: rotate(180deg);
    border-radius: 17px;
    padding: 5px;
  }
  #category-header > h4 > img:hover{
    background: #cacaca;
  }
  #category-header > img{
    position: absolute;
    right: -12px;
    top: -12px;
  }
  @media screen and (max-height : 600px){
    #category-content{
      height: 84%;
    }
  }
  @media screen and (max-height : 500px){
    #category-content{
      height: 81%;
    }
  }
  @media screen and (max-height : 400px){
    #category-content{
      height: 76%;
    }
  }
  div#secondrow > #imageuploadbox{
    background:#ffffff;
    padding:5px 10px 0px 10px;
  }
  div#secondrow > #imageuploadbox > h3{
    font-weight:bold;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div#image-holder img{
    transition: 0.5s;
    margin: 0 auto;
  }
  div#secondrow > div#imageuploadbox > div.row{
    padding:5px 30px;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.active img{
    height: 100%;
    -webkit-filter: contrast(200%); /* Chrome, Safari, Opera */
    filter: contrast(200%);
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.active:hover img{
    -webkit-filter: contrast(400%); /* Chrome, Safari, Opera */
    filter: contrast(400%);
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.deactive img{
    height: auto;
    vertical-align: center;
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  div#secondrow > div#imageuploadbox > div.row > div > div#image-holder{
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div#image-holder > div{
    position:absolute;
    left:0px;
    top:0px;
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    display: none;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div#image-holder > div > a{
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    display:block;
    width:32px;
    height:32px;
    background:url(http://dahliaco.com/asset/image/icon/garbage.png) center top no-repeat;
    transition: 0.3s;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div#image-holder > div > a:hover{
    background: url(http://dahliaco.com/asset/image/icon/garbageopen.png);
  }
  div#secondrow > div#imageuploadbox > div.row > div{
    margin-bottom: 10px;
    height: 100%;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.active{
    border:3px #297dce dashed;
    transition: 0.3s;
    padding:20%;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.deactive{
    border:3px #cacaca dashed;
    padding: 30px;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.active:hover{
    border:3px #EC971F dashed;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.uploaded img{
    height: 100%;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.uploaded{
    box-shadow: 0px 0px 5px #101010;
    transition: 0.3s;
  }
  div#secondrow > div#imageuploadbox > div.row > div > div.uploaded:hover{
    box-shadow: 0px 0px 5px #297dce;
  }
  .land{
    fill:#cacaca;
  }

  #inform{
    position: fixed;
    z-index: 2000;
    background: #fff;
    margin: auto;
    height: 46%;
    padding: 10px 0px;
    box-shadow: 0px 0px 30px #000;
    top: 0; left: 0; bottom: 0; right: 0;
    display: none;
  }
  #inform > div{
    width: 100%;
    padding: 0px 15px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #inform > img{
    position: absolute;
    right: -12px;
    top: -12px;
  }
  div#gender,div#price,div#trust{
    display: none;
  }
  #selectCategory > span .flaticon-right-arrow{
    font-weight: bold;
  }
  #selectCategory > span .flaticon-right-arrow:before{
    font-size: small;
    margin:0px;
    vertical-align: middle;
    font-weight: bold;
    padding: 0px 15px;
  }
  #selectCategory > span > ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  #selectCategory > span li{
    float: right;
    vertical-align: middle;
  }
  #advertise-time{
    position: fixed;
    z-index: 2000;
    background: #fff;
    margin: auto;
    height: 50%;
    padding: 5px 0px;
    box-shadow: 0px 0px 30px #000;
    top: 0; left: 0; bottom: 0; right: 0;
    display: none;
  }
  #advertise-time > div{
    width: 100%;
    padding: 10px 15px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #advertise-time > img{
    position: absolute;
    right: -12px;
    top: -12px;
  }
  #advertise-time button, #inform button{
    margin-top: 8px;
    border-radius: 0px;
  }
  div#preview{
    position: fixed;
    z-index: 3000;
    background: #eaeaea;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    display: none;
    overflow-x:hidden;

  }
  div#preview .close-animatedModal{
    padding-top: 10px;
    margin: 0px;
  }
  div#preview .closebt{
    padding: 0px;
    margin: 0px auto;
  }
  div#preview > #cont{
    padding: 10px  10% 0px 10%;
  }
  div#preview > #cont > .row > div:first-child > #profilebox{
    background: #fff;
    padding: 15px 20px;
    height: 100%;
    position: relative;
    display: block;
  }
  div#preview > #cont > .row > div:first-child > #profilebox  button{
    margin: 6px  0px;
    display: block;
    font-family: Lato;
  }
  div#preview > #cont > .row > div:first-child > #profilebox  button:hover{
    box-shadow: 0px 0px 4px #000;
  }
  div#preview > #cont > .row > div:first-child > #profilebox  button > .btn-label{
    padding: 5px 7px 4px 7px;
  }
  #preview-main{
    display: block;
    word-wrap: break-word;
  }
  .btn{
    border-radius: 0px;
  }
  #confirm-box{
    position: absolute;
    top: 95%;
  }



.m-group{ 
  position:relative;
  margin-top: 25px;
}
#inform .m-group{
  margin-top: 30px;
}
.m-group input         {
  padding:6px 5px 6px 10px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
}
.m-group input:focus     { outline:none; }


.m-group textarea         {
  padding:8px 5px 8px 10px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
}
.m-group textarea:focus     { outline:none; }
/* LABEL ======================================= */
.m-group label          {
  color:#5264AE; 
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  right:0px;
  top:-19px;
}


/* BOTTOM BARS ================================= */
.m-group .bar  { position:relative; display:block; width:100%; }
.m-group .bar:before,.m-group .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#297dce;
  transition:0.5s ease all; 
  -moz-transition:0.5s ease all; 
  -webkit-transition:0.5s ease all;
}
.m-group .bar:before {
  left:50%;
}
.m-group .bar:after {
  right:50%; 
}

/* active state */
.m-group input:focus ~ .bar:before,.m-group input:focus ~ .bar:after {
  width:50%;
}
.m-group textarea:focus ~ .bar:before,.m-group textarea:focus ~ .bar:after {
  width:50%;
}
#email-inform{
  position: fixed;
  z-index: 3002;
  background: #fff;
  margin: auto;
  padding:15px 0px 0px 0px;
  box-shadow: 0px 0px 30px #000;
  top: 0; left: 0; bottom: 0; right: 0;
  display: none;
  height: 140px;
}
#telegram-inform{
  position: fixed;
  z-index: 3002;
  background: #fff;
  margin: auto;
  padding:15px 0px 0px 0px;
  box-shadow: 0px 0px 30px #000;
  top: 0; left: 0; bottom: 0; right: 0;
  display: none;
  height: 220px;
}
#email-inform > div > div > a > div{
  text-align: center;
}
#email-inform > div > div > a{
  text-decoration: none;
}
#email-inform > div > div > a > div > img{
  margin: 2px auto;
}
#telegram-inform a{
  background:#006df0;display:block;margin:0px auto;color:#fff;padding:15px 25px;text-align:center;width:100%;position:absolute;bottom:0px;font-size:large;
  transition: 0.3s;
}
#telegram-inform a:hover{
  background: #0033cc;
}
.hotmail-social{
  background:#006df0;
  transition: 0.3s;
}
.gmail-social{
  background:#E94132;
  transition: 0.3s;
}
.yahoo-social{
  background:#933EC5;
  transition: 0.3s;
}

.hotmail-social:hover{
  background:#1060BF;
}
.gmail-social:hover{
  background:#DD2818;
}
.yahoo-social:hover{
  background:#7F2AB2;
}

  div#login{
    position: fixed;
    z-index: 3001;
    background: #eaeaea;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    display: none;
    transition: 0.3s;
    overflow: hidden;
  }
  div#login .close-animatedModal{
    padding-top: 10px;
    margin: 0px;
  }
  div#login .closebt{
    padding: 0px;
    margin: 0px auto;
  }
  div#login > #cont{
    position: relative;
    padding: 10px  0% 0px 0%;
  }
  div#login img.user{
    display:block;
    margin:0px auto 30px auto;
  }
  div#login .btn-login{
    margin: 15px 0px;
    text-align: center;
    width:100%;
    background: #297dce;
    border-color:#297dce;
    border-radius: 2px;
    font-size: large;
  }
  div#login .btn-login:hover{
    background: #2676C3;
    border-color:#2676C3;
  }
  div#login .m-group{ 
    margin-top: 10px;
  }
  div#login input#code{
    text-align: center;
  }
  div#login .receivemail{
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: none;
  }
  div#login .receivemail img{
    position: absolute;
    top:0px;
    right:0px;
  }
  #prev-get-phone-span{
    font-family: Lato;
  }
/* ANIMATIONS ================ */
