


nav *{
  color: #fff;
  font-size: normal;
}
body {
  padding-top: 50px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: large;
  background: #ffffff;

}
span,label,div,input,button,textarea{
  letter-spacing: 0px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 100;

}
a ,button{
   outline: 0;
}
a:hover, a:active, a:focus,button:hover, button:active, button:focus  {
  /* styling for any way a link is about to be used */
  outline: 0;

}
input::-moz-focus-inner { 
  border: 0; 
}


.btn-label {position: absolute;right:0px;top:0px;display: inline-block;padding: 5px 10px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-label i {font-size: large;font-weight: 900;font-family: 'Lato', sans-serif;}


input[type=text],textarea,select,.form-control{
  border-radius: 0px;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}







.form-group{
  position: relative;
  margin-bottom: 3px;
}
.form-group > span.float-text{
  position:absolute;
  bottom:-10px;
  right:10px;
  display:block;
  width:38px;
  background:#fff;
  overflow:hidden;
  height:22px;
  color:#1EC81E;
  font-size:small;
  padding:1px 3px;
  border-radius:3px;
  box-shadow:0px 0px 5px #fff;
  text-align:center;
  font-family:Lato;
}



.m-group{ 
  position:relative;
  margin-top: 25px;
}
#inform .m-group{
  margin-top: 30px;
}
.m-group input         {
  padding:6px 5px 6px 10px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
}
.m-group input:focus     { outline:none; }


.m-group textarea         {
  padding:8px 5px 8px 10px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
}
.m-group textarea:focus     { outline:none; }
/* LABEL ======================================= */
.m-group label          {
  color:#5264AE; 
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  right:0px;
  top:-19px;
}


/* BOTTOM BARS ================================= */
.m-group .bar  { position:relative; display:block; width:100%; }
.m-group .bar:before,.m-group .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#297dce;
  transition:0.5s ease all; 
  -moz-transition:0.5s ease all; 
  -webkit-transition:0.5s ease all;
}
.m-group .bar:before {
  left:50%;
}
.m-group .bar:after {
  right:50%; 
}

/* active state */
.m-group input:focus ~ .bar:before,.m-group input:focus ~ .bar:after {
  width:50%;
}
.m-group textarea:focus ~ .bar:before,.m-group textarea:focus ~ .bar:after {
  width:50%;
}
#email-inform{
  position: fixed;
  z-index: 3002;
  background: #fff;
  margin: auto;
  padding:15px 0px 0px 0px;
  box-shadow: 0px 0px 30px #000;
  top: 0; left: 0; bottom: 0; right: 0;
  display: none;
  height: 140px;
}
#telegram-inform{
  position: fixed;
  z-index: 3002;
  background: #fff;
  margin: auto;
  padding:15px 0px 0px 0px;
  box-shadow: 0px 0px 30px #000;
  top: 0; left: 0; bottom: 0; right: 0;
  display: none;
  height: 220px;
}
#email-inform > div > div > a > div{
  text-align: center;
}
#email-inform > div > div > a{
  text-decoration: none;
}
#email-inform > div > div > a > div > img{
  margin: 2px auto;
}
#telegram-inform a{
  background:#006df0;display:block;margin:0px auto;color:#fff;padding:15px 25px;text-align:center;width:100%;position:absolute;bottom:0px;font-size:large;
  transition: 0.3s;
}
#telegram-inform a:hover{
  background: #0033cc;
}
.hotmail-social{
  background:#006df0;
  transition: 0.3s;
}
.gmail-social{
  background:#E94132;
  transition: 0.3s;
}
.yahoo-social{
  background:#933EC5;
  transition: 0.3s;
}

.hotmail-social:hover{
  background:#1060BF;
}
.gmail-social:hover{
  background:#DD2818;
}
.yahoo-social:hover{
  background:#7F2AB2;
}
/* ANIMATIONS ================ */
    .btn-order-active{
      background: #297dce;
      color: #fff;
      border-color: #297dce;
      border-radius: 0px;
      padding:5px 2px 4px 2px;
    }
    .btn-order-active:hover{
      background: #297dce;
      color: #fff;
      border-color: #297dce;
    }